# Rust artifacts
target/

# NEAR State
.near/data/

# Borealis Indexer State
.borealis-indexer/data/

# Visual Studio Code
.vscode/
.run/

# JetBrains IDEs
.idea/
.run/

# Editor backup files
*~

# macOS
.DS_Store

